{% extends "myapp/base.html" %}
{% block body %}

<div class="w-96 mx-auto p-4 border ">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Food Name</label>
            {{ form.food_name }}
        </div>

        <div class="mb-3">
            <label>Food Description</label>
            {{ form.food_desc }}
        </div>

        <div class="mb-3">
            <label>Food Price</label>
            {{ form.food_price }}
        </div>

        <div class="mb-3">
            <label>Image</label>
            {{ form.food_image }}
        </div>

        <button type="submit" class="border px-3 py-1">
            Save
        </button>
    </form>
</div>

{% endblock %}
